<ion-tabs>

  <ion-tab-bar slot="bottom" class="rounded-top-4 border-t">
    <ion-tab-button tab="home" href="home">
      <fa-icon [icon]="icon.faHouse" class="text-xl"></fa-icon>
      <ion-label class="fw-bolder text-10px">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore" href="explore">
      <fa-icon [icon]="icon.faCompass" class="text-xl"></fa-icon>
      <ion-label class="fw-bolder text-10px">Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookmark" href="bookmark">
      <fa-icon [icon]="icon.faBookmark" class="text-xl"></fa-icon>
      <ion-label class="fw-bolder text-10px">Bookmark</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="profile">
      <fa-icon [icon]="icon.faUser" class="text-xl"></fa-icon>
      <ion-label class="fw-bolder text-10px">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>